#kopo14{
    text-align: center;
    display: none;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding :30px;
    margin: 10px;    
}
button{
      padding: 30px;  
}
#kopo14Text{ 
    text-align: center;
    font-size: 40px;
}
